extends main.pug

block head
  link(href=urlPathRoot + '/css/md-wrapper.css', rel='stylesheet')

block content
  aside(id='sidebar' class='sidebar')
    div !{menu}
  .container.markdown
    .row
      .twelve.columns !{content}
  .secondary-sidebar !{subMenu}
